<%- include("./partials/header") %>
<div class="dashboard">
    <div class="btn">
        <a href="/admin/ongoing"><button class="ongoing-btn">Ongoing</button></a>
        <a href="/admin/pending"><button class="ongoing-btn">Pending</button></a>
        <a href="/admin/confirmed"><button class="ongoing-btn">Confirmed</button></a>
        <a href="/admin/served"><button class="ongoing-btn">Served</button></a>
        <a href="/admin/cancelled"><button class="ongoing-btn">Cancelled</button></a>
        <a href="/admin/special"><button class="ongoing-btn">Special</button></a>
    </div>

    <div class="content-body">
        
    </div>
</div>