<%- include("./partials/header") %>
<div class="dashboard">
    <div class="btn">
        <button class="ongoing-btn">Ongoing</button>
        <button class="ongoing-btn">Pending</button>
        <button class="ongoing-btn">Confirmed</button>
        <button class="ongoing-btn">Cancelled</button>
        <button class="ongoing-btn">Special</button>
    </div>

    <div class="content-body">
        
    </div>
</div>