<%- include("./partials/header") %>

<div class="user-btn">
    
    
    <a href="/admin/hours"><button>Add and See hour</button></a>
    <a href="/admin/table"><button>Add and See Tables</button></a>
</div>

<div class="date-admin">
    <form method="POST" action="/admin/date">
        <%- include("./partials/errormessage") %>
        <h4 class="admin-heading">Add a date for you want to accept reservation</h4>
        <input type="date" name="opendate" />
        <input
            type="submit"
            value="add a date"
        />


    </form>


    <div class="accepting-dates">
        <h4 class="admin-heading">Accepting Dates</h4>
        

        <ul>
            <% if(typeof reserveddates != 'undefined'){ %> 
                <% reserveddates.forEach((reserveddate) => { %>
                    <% const reserveddate_array = reserveddate.opendate.split("-") %>
                    <% const year = reserveddate_array[0] %>
                    <% const month = reserveddate_array[1] %>
                    <% const day = reserveddate_array[4] %>
                    <% const dateboolean = (year < d.getFullYear()) || (year == d.getFullYear() && month < (d.getMonth() + 1)) || (year == d.getFullYear() && month == (d.getMonth() +1) && day < d.getDate()) %>
                    <% if (!dateboolean){ %>
                        
                        <li class="admin-list"><%= reserveddate.opendate %></li>
                    <% } %>
                     
                <% }) %> 
            <% } %>
        </ul>
    </div>
    <!--
    <div class="past-accepting-dates">
        <h4 class="admin-heading">Past Dates</h4>
        <ul>
            <% if(typeof reserveddates != 'undefined'){ %> 
                <% reserveddates.forEach((reserveddate) => { %>
                    <% const reserveddate_array = reserveddate.opendate.split("-") %>
                    <% const year = reserveddate_array[0] %>
                    <% const month = reserveddate_array[1] %>
                    <% const day = reserveddate_array[2] %>
                    <% const dateboolean = (year < d.getFullYear()) || (year == d.getFullYear() && month < (d.getMonth() + 1)) || (year == d.getFullYear() && month == (d.getMonth() +1) && day < d.getDate()) %>
                    
                     
                    <% if(dateboolean){ %>
                        
                        <li class="admin-list"><%= reserveddate.opendate %></li>
                    <% } %>
                <% }) %> 
            <% } %>
        </ul>
    </div>
    -->

</div>
