<%- include("./partials/header") %>

<div class="user-btn">
    
    <a href="/admin/date"><button>Add and See dates</button></a>
    <a href="/admin/hours"><button>Add and See hour</button></a>
    <a href="/admin/table"><button>Add and See Tables</button></a>
</div>

<div class="admin-hour">
    <h4 class="admin-heading">Add a hour you want to accept reservation</h4>
    <form action="/admin/hour" method="POST">
        <select name="starthour">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <select name="startmeridiem">
            <option value="am">am</option>
            <option value="pm">pm</option>
        </select>
        <p style="text-align: center;">to</p>
        <select name="endhour">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <select name="endmeridiem">
            <option value="am">am</option>
            <option value="pm">pm</option>
        </select>
        <input type="submit" value="Add new hour" />
    </form>

    <div class="hour-list">
        <h4 class="admin-heading">Accepting Hours: </h4>
        <ul>
            <% if(typeof hours != 'undefined'){ %> 
                <% hours.forEach((hour) => { %>
                    
                    <li class="admin-list"><%= hour.openhour %></li>
                        
                    
                <% }) %> 
            <% } %>
        </ul>
    </div>
</div>
