<%- include("../partials/header") %>
<div class="user-btn">
    <h4 class="admin-heading">FInd users by clicking the butons below</h4>
    <a href="/admin/date"><button>Add and See dates</button></a>
    <a href="/admin/hour"><button>Add and See hour</button></a>
    <a href="/admin/table"><button>Add and See Tables</button></a>
</div>
<%- include("./partials/footer") %>