<%- include("./partials/header") %>
<div class="table-admin">
    <div class="new-table-form">
        <h2>Add new table</h2>
        <form id="new-table-form" action="/admin/new-table" method="POST">
            <input
                type="text"
                id="ad-table-number"
                name="tablenumber"
                placeholder="table-number"
            />

            <input
                type="text"
                id="ad-table-name"
                name="tablename"
                placeholder="table-name"
            />

            <input
                type="text"
                id="ad-table-person"
                name="tableperson"
                placeholder="table-person"
            />

            <br />
            <label for="ad-table-img">Choose a image for the table:</label>
            <input
                id="ad-table-img"
                name="tableimg"
                type="file"
                value="upload a image"
            />
            <input type="submit" value="Create New Table" />
        </form>
    </div>

    <div class="table-list">
        <ul>
            <li>1 - Ruby Pocobolo - M - 5</li>
            <li>2 - Ruby Pocobolo - M - 5</li>
            <li>3 - Ruby Pocobolo - M - 5</li>
        </ul>
    </div>
</div>
