<header>
    <!-- main menus-->
    <ul class="nav navbar-nav">
        <a class="page-scroll" href="/"><li>Home</li></a>
        <a class="page-scroll" href="/"><li>Book A Table</li></a>
        <a class="page-scroll" href="/"><li>History of HWR</li></a>
        <a class="page-scroll" href="/user/login"><li>Login</li></a>
        <a class="page-scroll" href="/user/register"><li>Register</li></a>
    </ul>
</header>
