<div class="date-wrapper">
    <h2>
        All The Hours
    </h2>
    <ul>
        <li>
            12am - 1am
            <p>Delete</p>
        </li>
    </ul>
    <button>Add new hours</button>
</div>

<div class="date-wrapper">
    <h2>
        Accepting Dates
    </h2>
    <ul>
        <li>22-1-2020</li>
        <li>22-1-2020</li>
        <li>22-1-2020</li>
        <li>22-1-2020</li>
        <li>22-1-2020</li>
    </ul>
</div>

<div class="table-wrapper">
    <h2>
        All The Tables
    </h2>
    <p>Edit Table</p>
    <div class="table-box">
        <p class="table-num">1</p>
        <p class="table-size">B</p>
        <h3 class="table-name">Big Family Table</h3>
        <img src="ta..." />
    </div>

    <button>Add New Table</button>
</div>

<div class="user-wrapper">
    <h2>
        All The Dates
    </h2>

    <form>
        <input type="text" placeholder="Name" />
        <input type="email" placeholder="email" />
        <input type="text" placeholder="phone" />
        <input type="text" placeholder="role" />
        <input type="password" placeholder="password" />
    </form>
    <button>Add new user</button>
</div>

<div class="search-wrapper">
    <h2>Search any user or reservations</h2>
    <form>
        <input type="text" placeholder="Search" />
    </form>
</div>

<div class="call-now">
    <p>Phone Number</p>
    <input type="text" placeholder="call now phone number" />
</div>
