<%- include("./partials/header") %>
<div class="slider-box">
    <div class="info-box">
        <h3 id="call-now">Call Now</h3>
        <button class="reservation-btn">Make a reservation</button>
        <h3 id="map">Find us on map</h3>
    </div>
    <div class="info-box">
        <div class="discount">
            <div class="dis-text">
                <span id="offer1">60% </span>
                <span id="offer2">OFF </span>
                <span id="offer3">for </span>
                <span id="offer4">tonight</span>
            </div>
            <div class="dis-text">
                <span id="offer5">200 </span>
                <span id="offer6">OFF </span>
                <span id="offer7">on </span>
                <span id="offer8">Family Tables</span>
            </div>
            <div class="dis-text">
                <span id="offer9">Brian </span>
                <span id="offer10">May </span>
                <span id="offer11">Playing </span>
                <span id="offer12">tonight</span>
            </div>
        </div>
    </div>
</div>

<div class="reservation">
    <form id="reservation-form" method="POST" action="/reservations">
        Select any amount of table you want to book <br />
        <label for="table">Table 1</label>
        <input type="checkbox" name="table" />
        <label for="table">Table 2</label>
        <input type="checkbox" name="table" />
        <label for="table">Table 3</label>
        <input type="checkbox" name="table" />
        <label for="table">Table 4</label>
        <input type="checkbox" name="table" />

        <br />
        Select date
        <input type="date" />

        <br />
        select hours
        <label for="table">1am - 2am</label>
        <input type="checkbox" name="hours" />
        <label for="table">2am - 3am</label>
        <input type="checkbox" name="hours" />
        <label for="table">3am - 4am</label>
        <input type="checkbox" name="hours" />
        <label for="table">4am - 5am</label>
        <input type="checkbox" name="hours" />
        <label for="table">5am - 6am</label>
        <input type="checkbox" name="hours" />
    </form>
</div>
