<%- include("./partials/header") %>
<div class="slider-box">
    <div class="info-box">
        <h3 id="call-now">Call Now</h3>
        <button class="reservation-btn">Make a reservation</button>
        <h3 id="map">Find us on map</h3>
    </div>
    <div class="info-box">
        <div class="discount">
            <div class="dis-text">
                <span id="offer1">60% </span>
                <span id="offer2">OFF </span>
                <span id="offer3">for </span>
                <span id="offer4">tonight</span>
            </div>
            <div class="dis-text">
                <span id="offer5">200 </span>
                <span id="offer6">OFF </span>
                <span id="offer7">on </span>
                <span id="offer8">Family Tables</span>
            </div>
            <div class="dis-text">
                <span id="offer9">Brian </span>
                <span id="offer10">May </span>
                <span id="offer11">Playing </span>
                <span id="offer12">tonight</span>
            </div>
        </div>
    </div>
</div>
