<%- include("./partials/header") %>
<form id="login-form" action="/user/login" method="POST">
    <input
        type="email"
        name="email"
        placeholder="Email"
        value="<%= typeof email != 'undefined' ? email : '' %>"
    />
    <input
        type="password"
        name="password"
        placeholder="Password"
        value="<%= typeof password != 'undefined' ? password : '' %>"
    />
    <input type="submit" value="Login" />
</form>
