* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "kanit";
}

header {
    text-align: center;
}
.navbar-nav {
    display: flex;
    list-style: none;
}

.navbar-nav > a {
    background-color: #401d16;
    padding: 30px;
    box-shadow: 1px 1px 12px #1c110e;
    font-family: kanit;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    width: 20%;
    text-decoration: none;
    text-transform: uppercase;
    color: #f2e1ae;
}

.navbar-nav > a:hover {
    background-color: #f8c17f;
    color: #402525;
}

/* slider box on index page */
.slider-box {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #f29829;
    justify-content: center;
    align-content: center;
}
.info-box {
    text-align: center;
    padding: 100px;
}
.reservation-btn {
    background: rgba(255, 255, 255, 0.4);
    border: 0;
    padding: 20px;
    color: #208c30;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 2px 2px;
}
.dis-text {
    font-size: 2em;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    margin: 10px;
}
.dis-text:nth-child(2) {
    background: rgba(255, 255, 255, 0.8);
}
.dis-text:nth-child(3) {
    background: rgba(255, 255, 255, 0.8);
}
#offer1 {
    color: #1c2c40;
}
#offer2 {
    color: #d94b2b;
    font-size: 2.2em;
}

#offer3 {
    color: #bf3124;
}

#offer4 {
    color: #731212;
}
#offer5 {
    color: #1cbdab;
}
#offer6 {
    color: #632857;
}
#offer7 {
    color: #d81d41;
}
#offer8 {
    color: #ff501e;
}
#offer9 {
    color: #f62527;
}
#offer10 {
    color: #ffa92c;
}
#offer11 {
    color: #004b81;
}
#offer12 {
    color: #00c6ac;
}
#map {
    color: #a6401b;
    padding: 20px;
    text-decoration: underline;
    margin: 5px;
}
#call-now {
    padding: 20px;
    color: #fff;
    border-bottom: 2px dotted;
    margin: 0px 0 30px;
}

/*reservation form */
.reservation {
    background-image: url("/img/rest-optimized-jpg.jpg");
    background-size: cover;

    box-shadow: inset 0px 2px 4px 1px #220c0c;
    border-top: 3px solid #a6401b;
}
.reservation-wrapper {
    background-color: rgba(64, 29, 22, 0.3);
}
#reservation-form {
    text-align: center;
    padding: 100px 30px;
    background-color: rgba(248, 193, 127, 0.4);
    width: 50%;
}
input,
select {
    background-color: #f29829;
    width: 60%;
    border: none;
    margin: 10px;
    text-align: center;
    color: #401d16;
    border-radius: 0;
    box-shadow: 0px 0px 2px 0px #0b0202, inset 0px 0px 6px 1px #971414;
    font-family: kanit;
    font-weight: bold;
    padding: 5px;
}
label {
    color: #401d16;
    background-color: #f29829;
    padding: 5px;
    font-weight: bold;
    box-shadow: 0px 0px 2px 0px #0b0202, inset 0px 0px 6px 1px #971414;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='wheat' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z' /><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 0px;
    padding: 5px;
}
input[type="submit"] {
    background-color: #401d16;
    padding: 20px 10px;
    color: wheat;
    font-size: 1.3em;
    border: 2px dotted #843a3a;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px #0b0202;
}
input[type="checkbox"] {
    background-color: #a6401b;
    padding: 5px;
    color: brown;
}
input:focus {
    color: darkgreen;
}

/*user dashboard */
.user-dashboard {
    padding: 30px;
}
.user-dashboard h3 {
    background: #f29829;
    width: max-content;
    padding: 10px;
    margin: 10px;
    color: white;
}
.user-dashboard p {
    background: bisque;
    width: max-content;
    padding: 10px;
    margin: 2px;
}
.user-dash {
    list-style: none;
    display: grid;
    grid-template-columns: 5% 10% 10% 10%;
    text-align: center;
}
.user-dash li {
    border: 1px solid #402525;
    background: antiquewhite;
    margin: 8px 2px;
}
#register form,
.login form {
    border: 1px solid #ededed;
    width: max-content;
    margin: 10px auto;
    padding: 20px;
    box-shadow: inset 0px 0px 4px 7px #f4f5f7;
}

/*table lightbox */
.lightbox {
    display: grid;
    grid-template-columns: 30% 30% 30%;
}
.table-img {
    margin: 15px;
    padding: 10px;
    width: max-content;
}
.table-img img {
    box-shadow: 0px 1px 4px 1px;
    border: 2px solid #a6401b;
}

.table-img h3 {
    background: #f29829;
    padding: 10px 0;
    text-align: center;
}
.number {
    color: azure;
    background-color: #208c30;
    padding: 25px 20px 10px;
}
.table-btn {
    color: #1c4622;
    background-color: #f29829;
    text-decoration: none;
    padding: 0px 10px;
    font-weight: bold;
    border-radius: 3px;
    border: 2px solid #7d453a;
    box-shadow: inset 0 0 6px 0px;
}
