/*start header */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "kanit";
}

#all-content {
    min-width: 1200px;
}

header {
    text-align: center;
}
.navbar-nav {
    display: flex;
    list-style: none;
}

.navbar-nav > a {
    background-color: #401d16;
    padding: 30px;
    box-shadow: 1px 1px 12px #1c110e;
    font-family: kanit;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    width: 20%;
    text-decoration: none;
    text-transform: uppercase;
    color: #f2e1ae;
}

.navbar-nav > a:hover {
    background-color: #f8c17f;
    color: #402525;
}

/*end header

/* Start table admin section */
.table-admin {
    text-align: center;
}
.table-admin input {
    width: 400px;
}
.table-list ul {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    list-style: none;
}
.table-list {
    margin: 40px auto;
    padding: 30px;
}
.table-list ul li {
    margin: 2px;
    padding: 10px;
    border: 2px solid #62514d;
    box-shadow: 2px 2px 2px #7d7d7d, inset 1px 1px 1px 1px #979292;
}
.field-name li {
    background-color: #9f9f9f;
}

/* End table admin section */
input {
    width: 300px;
    text-align: center;
    margin: 20px auto;
}

/*dashboard */
.field-name {
    font-weight: bold;
}
.res-dash,
.field-name {
    list-style: none;
    display: grid;
    grid-template-columns: 5% 9% 8% 22% 9% 8% 5% 7% 7% 7% 13%;
}
.res-dash li,
.field-name li {
    border-top: 3px solid #f7f7f7;
    background: #e2e5e7;
    padding: 5px 10px;
    text-align: center;
    border-left: 1px solid #fff;
    box-shadow: inset 0px 0px 6px 1px #bbb;
}
.hide {
    display: none;
}
.dash-heading {
    text-align: center;
}
.single-res .res-dash,
.single-res .field-name {
    grid-template-columns: 11% 8% 22% 9% 8% 8% 10% 10%;
}
.btn {
    text-align: center;
    margin: 10px;
}
.btn button {
    cursor: pointer;
}

/* admin user section */
.date-admin form {
    border: 1px solid #ededed;
    width: max-content;
    margin: 10px auto;
    padding: 20px;
    box-shadow: inset 0px 0px 4px 7px #f4f5f7;
}
ul {
    justify-content: center;
    align-content: center;
}

.customers {
    margin: 60px 30px;
}
.customers .admin-list {
    background: transparent;
    width: max-content;
    margin: 3px auto;
    padding: 5px 15px;
    color: #5b6262;
    border-radius: 2px;
    box-shadow: 0 0 0;
}

.customers ul {
    background-color: #ddd6ce;
    box-shadow: 1px 1px 1px 0px #333;
    margin: 5px;
}

.customers ul {
    display: grid;
    grid-template-columns: 4% 19% 11% 17% 23%;
    align-content: center;
    justify-content: center;
    list-style: none;
}

.customers input[type="submit"] {
    width: max-content;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='chocolate' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z' /><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 0px;
    padding: 5px;
}

input,
select {
    width: 300px;
    margin: 20px auto;
    text-align: center;
    display: block;
    background-color: #e8e7dd;
    padding: 5px;
    box-shadow: 0px 0px 3px 0px #999, inset 0 0 2px 0px #999;
    border: 1px solid #999;
}

input[type="submit"] {
    background-color: #402525;
    padding: 10px;
    color: #eee;
    box-shadow: 0 0 1px 1px #333;
    cursor: pointer;
}
.admin-heading {
    background-color: #f8c17f;
    width: max-content;
    margin: 5px auto;
    padding: 10px;
    text-transform: uppercase;
    box-shadow: inset 0px 0px 4px 1px #999;
}

.user-btn {
    text-align: center;
    margin: 30px 0 70px 0;
}
.btn .ongoing-btn,
.user-btn button {
    background-color: #777575;
    padding: 10px;
    font-size: 0.8em;
    text-transform: uppercase;
    box-shadow: inset 0px 0px 26px 1px #4f4444;
    cursor: pointer;
    border: 2px solid #66564a;
    font-weight: bold;
    color: #d9d1c3;
    border-radius: 6px;
}

/*date admin */
.past-accepting-dates,
.accepting-dates {
    text-align: center;
    margin: 20px;
}

/*hour admin */
.hour-list {
    text-align: center;
    margin: 60px 0;
}

.admin-list {
    background: #716c66;
    width: max-content;
    margin: 3px auto;
    padding: 5px 15px;
    color: #edeeee;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 0px #333;
}

/*reservations*/
.admin-reservations .field-name,
.admin-reservations .res-dash {
    grid-template-columns: 5% 9% 8% 22% 9% 8% 5% 7%;
}
.confirmed .field-name,
.confirmed .res-dash,
.served .field-name,
.served .res-dash,
.ongoing .field-name,
.ongoing .res-dash {
    grid-template-columns: 5% 9% 8% 22% 9% 8% 5% 7% 7%;
}

/*error success */
.error,
.success {
    text-align: center;
    margin: 10px;
    color: brown;
    font-family: "kanit";
}
.success {
    color: green;
}
