<header>
    <!-- main menus-->
    <ul class="nav navbar-nav">
        <a class="page-scroll" href="/admin"><li>Dashboard</li></a>
        <a class="page-scroll" href="/admin/restaurant"><li>Restaurant</li></a>
        <a class="page-scroll" href="/admin/users"><li>Users</li></a>
        <a class="page-scroll" href="/admin/reservations"><li>Reservations</li></a>
        <a class="page-scroll" href="/user/logout"><li>Logout</li></a>
        
    </ul>
</header>
