<header>
    <!-- main menus-->
    <ul class="nav navbar-nav">
        <a class="page-scroll" href="/admin"><li>Dashboard</li></a>
        <a class="page-scroll" href="/admin/users"><li>Users</li></a>
        <a class="page-scroll" href="/admin/table"><li>Table</li></a>
        <a class="page-scroll" href="/admin/date"><li>Date</li></a>
        <a class="page-scroll" href="/admin/hours"><li>Hours</li></a>
    </ul>
</header>
